
.search-box {
    -webkit-appearance: none;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 1rem;
    width: 30rem;
    line-height: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}

